/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:ital@1&display=swap');

:root {
  --white: #fffffff;
  --purple: #8000ff;
  --purplemaroon: #800080;
  --purpledark: #5a003c;
  --purplepale: #ff8fea;
  --purplemid: #ff80d5;
  --cyan: #00ffff;
  --gray: #c0c0c0;
  --pink: #ee31db;
  --textcolor: #165b11;
  --boardColorDark: #00ff37;
  --boardColorLight: #ffffff;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: lightsteelblue;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  color: var(--purplemaroon);
}

#instructions {
  font-family: 'Lato', sans-serif;
  color: var(--purplemaroon);
  font-size: 1rem;
}

#setup-button {
  background-color: var(--purplemaroon);
  color: white;
}

#setup-input{
  width: 8%;
}

.instructionsPara {
  font-size: 0.8rem;
}

#chessboard {
  background-color: var(--purpledark);
  display: grid;
  justify-items: center;
  /* border: 1px solid red; */
}

.square {}

.knight {
  display: flex;
  justify-content: center;
  align-items: center;
}