/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:ital@1&display=swap');

:root {
  --white: #fffffff;
  --purple: #8000ff;
  --cyan: #00ffff;
  --gray: #c0c0c0;
  --pink: #ee31db;
  --textcolor: #165b11;
  --boardcolor-dark: #00ff37;
  --boardcolor-light: #ffffff;
  --boardcolor-wood: #966f33;
  --foreground: #0916cc;
  --background: #EFFA1B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--background);
}

header {
  color: var(--foreground);
  padding: 1rem 2rem;
}

#infosection {
  font-family: 'Lato', sans-serif;
  color: var(--foreground);
  font-size: 1.5rem;
  padding: 1rem;
}

.info {
  font-size: 1.2rem;
  padding: 1rem;
}

#gamediv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chessboard {
  background-color: var(--boardcolor-wood);
  border: 1rem solid var(--boardcolor-wood);
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

#setup {
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  color: var(--foreground);
  font-size: 1.5rem;
}

button {
  background-color: var(--foreground);
  color: var(--background);
  font-size: larger;
  margin-right: 1rem;
}

#setup-input{
  background-color: #ffffff;
  color: var(--foreground);
  font-size: larger;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.square {
  background-size: cover;
}

img {
  max-width: 100%;
}

#setup-input {
  width: 5rem;
}

@media screen and (min-width: 640px) {

  #gamediv {
    display: block;
    margin-left: 20px;
    /* justify-content: start;
    align-items: center; */
  }
  
}