/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:ital@1&display=swap');

:root {
  --white: #fffffff;
  --purple: #8000ff;
  --cyan: #00ffff;
  --gray: #c0c0c0;
  --pink: #ee31db;
  --textcolor: #165b11;
  --boardColorDark: #00ffff;
  --boardColorLight: #ffffff;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
}

header {
  text-align: center;
  color: var(--purple);
}

#instructions {
  font-family: 'Lato', sans-serif;
  color: var(--purple);
  font-size: 1rem;
}

.instructionsPara {
  font-size: 0.8rem;
}

#chessboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
}

.knight {
  display: flex;
  justify-content: center;
  align-items: center;
}
