/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:ital@1&display=swap');

:root {
  --boardcolor-light: #ffffff;
  --boardcolor-wood: #966f33;
  --foreground: #0916cc;
  --background: #EFFA1B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--background);
}

header {
  color: var(--foreground);
  padding: 1rem 2rem;
}

#infosection {
  font-family: 'Lato', sans-serif;
  color: var(--foreground);
  font-size: 1.5rem;
  padding: 0.25rem;
}

.info {
  font-size: 1.2rem;
  padding: 0.5rem;
}

#gamediv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chessboard {
  background-color: var(--boardcolor-wood);
  border: 1rem solid var(--boardcolor-wood);
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

#setup {
  padding: 0.25rem;
  font-family: 'Lato', sans-serif;
  color: var(--foreground);
  font-size: 1.5rem;
}

button {
  background-color: var(--foreground);
  color: var(--background);
  font-size: larger;
  margin-right: 1rem;
}

#setup-input {
  background-color: #ffffff;
  color: var(--foreground);
  font-size: larger;
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.square {
  background-size: cover;
}

img {
  max-width: 100%;
}

#setup-input {
  width: 5rem;
  background-color: var(--background);
}

#info3 {
  font-weight: bold;
}

/* media query - chessboard max size is 600px - at viewport 640px + we anchor it to the left */
@media screen and (min-width: 640px) {

  #gamediv {
    display: block;
    margin-left: 20px;
  }
}